Source: elfhacks
Priority: extra
Maintainer: Arand Nash <ienorand@gmail.com>
Build-Depends: debhelper (>= 8), cmake
Standards-Version: 3.9.2
Section: libs
Homepage: https://github.com/nullkey/elfhacks
#Vcs-Git: git://git.debian.org/collab-maint/elfhacks.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libelfhacks.git;a=summary

Package: libelfhacks-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libelfhacks0 (= ${binary:Version})
Description: various ELF run-time hacks
 Elfhacks is a collection of functions that aim for retvieving or modifying
 progam's dynamic linking information at run-time.
 .
 This package contains the development headers for elfhacks

Package: libelfhacks0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: various ELF run-time hacks
 Elfhacks is a collection of functions that aim for retvieving or modifying
 progam's dynamic linking information at run-time.
